version: '3.8'

services:
  nginx:
    image: nginx:latest
    ports:
      - "6987:80"
    volumes:
      - ./webserver/default.conf:/etc/nginx/conf.d/default.conf
      - ./webserver/src:/var/www/html
    depends_on:
      - webserver
    networks:
      - app-network

  webserver:
    image: qorwlsdk1995/my-php-app:latest  # Docker Hub의 이미지 사용
    ports:
      - "9555:9000"  # Nginx와 연결하기 위해 포트 열기
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock  # Docker 소켓 마운트
      - ./webserver/www.conf:/usr/local/etc/php-fpm.d/www.conf  # PHP-FPM 설정
      - ./webserver/src:/var/www/html  # 소스 코드 공유
      - ./webserver/entrypoint.sh:/entrypoint.sh  # 시작 스크립트
    entrypoint: ["/entrypoint.sh"]
    depends_on:
      - mysql
    networks:
      - app-network

  mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root_password
      MYSQL_DATABASE: trivy_db
      MYSQL_USER: trivy_user
      MYSQL_PASSWORD: trivy_password
    ports:
      - "9756:3306"
    networks:
      - app-network

  auto_scan:
    build: ./auto_scan
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - API_URL=http://webserver:80/auto_scan.php
    depends_on:
      - webserver
    restart: unless-stopped
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

