apiVersion: 1

deleteDatasources:
  - name: Prometheus
    orgId: 1

datasources:
  - name: Prometheus
    type: prometheus
    uid: prometheus
    access: proxy
    url: http://prometheus:9090
    orgId: 1
    isDefault: true
    editable: true
    version: 1
    jsonData:
      httpMethod: POST
      timeInterval: "15s"

